version: '3'
services:
  vstsagent:
    container_name: "vstsagent"
    tty: true
    stdin_open: false
    image: "imjoseangel/vstsagent"
    ports:
      - "8080:8080"
    environment:
      - AZP_URL=https://<mycompany>.visualstudio.com
      - AZP_TOKEN=<mypersonaltoken>
      - AZP_AGENT_NAME=dockervstsagent
      - AZP_POOL="Docker Linux Agent"
    labels:
      - "Azure DevOps Agent"
